{% load static %}
<div id="about-us">
    <div id="about-us-info">
        <div id="about-us-title">
            <h3 id="about-us-title-1">O NAŠEJ</h3>
            <h3 id="about-us-title-2">ŠPORTOVEJ RODINE</h3>
        </div>
        <p id="about-us-text">
            Active Gym bola založená v roku 2022 tímom manželov Albinoy a Jozefom Masarikovimi.
            Odvtedy sme sa rozšírili na viac ako 115 miest po celej krajine!
        </p>
    </div>
    <div>
        <img src="" alt="">
        <img src="" alt="">
    </div>
</div>