{% extends "base.html" %}

{% block content %}
<div id="about-us">
    <div>
        <h3>O nás</h3>
        <p class="p-text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
            porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
            dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
            exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
            consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
            esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
            voluptas nulla pariatur
        </p>
    </div>
    <div style="margin-top: 2%;">
        <h3>Ako nás nájdete</h3>
        <div id="full-info">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d913.2508889017415!2d18.618223574100643!3d48.211371270973295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476adcff27d6e211%3A0x73a3ab31f97dafb2!2sVojensk%C3%A1%202966%2F114%2C%20934%2005%20Levice!5e0!3m2!1ssk!2ssk!4v1664630782869!5m2!1ssk!2ssk"
                    width="60%" height="300" style="border:0;"
                    allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <div id="info">
                <h4>Adresa</h4>
                <address>Vojenská 2966/114, 934 05 Levice</address>
                <h4>Email</h4>
                <p><a href="mailto:albina.masarykova@gmail.com" class="foo-links">albina.masarykova@gmail.com</a></p>
                <h4>Telefon</h4>
                <p><a href="tel:+421908376297" class="foo-links">+421(908)376-297</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}