{% load static %}
<div id="contact-us">
    <div id="contact-main">
        <h1 id="contact-title">KONTAKTUJTE <br> NÁS DNES</h1>
    </div>
    <div id="contact-footer">
        <div>
            <h3>Adresa</h3>
            <a>Vojenská 2966/114, 934 05 Levice</a>
        </div>
        <div>
            <h3>Email</h3>
            <a href="mailto::albina.masarykova@gmail.com" class="contact-footer-link">albina.masarykova@gmail.com</a>
        </div>
        <div>
            <h3>Telefónne číslo</h3>
            <a href="tel:+421(908)376-297" class="contact-footer-link">+421(908)376-297</a>
        </div>
    </div>
</div>