{% load static %}

<div id="main-page">
    <div id="main-links">
        <h3>ACTIVE GYM</h3>
        <div id="main-social-networks">
            <a href="#"><img class="main-social-network" src="{% static 'img/svg/instagram.svg' %}" alt=""></a>
            <a href="https://wa.me/421908376297">
                <img class="main-social-network" src="{% static 'img/svg/whatsapp.svg' %}" alt="">
            </a>
            <a href="https://www.facebook.com/activegymlevice">
                <img class="main-social-network" src="{% static 'img/svg/facebook.svg' %}" alt="">
            </a>
        </div>
    </div>
    <div id="main-info">
        <h1 id="main-title-1" class="main-title">BUĎ NAJLEPŠOU</h1>
        <h1 id="main-title-2" class="main-title">VERZIOU SEBA</h1>
        <button id="main-button">Pridajte sa dnes</button>
    </div>
</div>