{% load static %}
<div id="reviews">
    <div id="reviews-title">
        <h1 id="review-title-1">Pred a po</h1>
        <h1 id="review-title-2">Tréningu</h1>
    </div>
    <div id="reviews-main">
        <div class="review">
            <img class="review-img" src="{% static 'img/Reviews/1.png' %}" alt="">
            <div class="review-text">
                <p>
                    Posudky sú krátke citáty od ľudí, ktorí milujú vašu značku.
                    Je to skvelý spôsob, ako presvedčiť zákazníkov, aby vyskúšali vaše služby.
                </p>
                <p>Donna Bleaker, 31</p>
            </div>
        </div>
        <div class="review">
            <img class="review-img" src="{% static 'img/Reviews/2.png' %}" alt="">
            <div class="review-text">
                <p>
                    Posudky sú krátke citáty od ľudí, ktorí milujú vašu značku.
                    Je to skvelý spôsob, ako presvedčiť zákazníkov, aby vyskúšali vaše služby.
                </p>
                <p>Donna Bleaker, 31</p>
            </div>
        </div>
        <div class="review">
            <img class="review-img" src="{% static 'img/Reviews/3.png' %}" alt="">
            <div class="review-text">
                <p>
                    Posudky sú krátke citáty od ľudí, ktorí milujú vašu značku.
                    Je to skvelý spôsob, ako presvedčiť zákazníkov, aby vyskúšali vaše služby.
                </p>
                <p>Donna Bleaker, 31</p>
            </div>
        </div>
    </div>
</div>