{% load static %}
<div id="services">
    <div id="services-header">
        <h2 id="services-title">ČO PONÚKAME</h2>
        <p id="services-text">Zaviazali sme sa, že vám prinesieme ten najlepší zážitok z cvičenia.</p>
    </div>
    <div id="services-main">
        <div class="services-options gym">
            <h2>Prehliadka našej<br>Telocvične</h2>
        </div>
        <div class="services-options programs">
            <h2>Pozrite si naše<br>Skupinové triedy</h2>
        </div>
        <div class="services-options trainings">
            <h2>Opýtajte sa na<br>Osobný tréning</h2>
        </div>
    </div>

</div>