@media screen and (max-width: 760px) {
    #nav-bar {
        width: 50%;
        margin-bottom: 2%;
    }
    #nav-info {
        flex-direction: column;
    }
    #links {
        margin: 2%;
        align-items: center;
    }
    #info {
        margin: 10%;
    }
    #partners {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}