{% load static %}
<div id="footer-nav">
    <h6>Navigacia</h6>
    <div id="footer-nav-links">
        <a href="/">Hlavná</a>
        <a href="/about_us">O nás</a>
        <a href="/partners">Partneri</a>
    </div>
</div>
<div id="footer-links">
    <a href="mailto:albina.masarykova@gmail.com" class="foo-links">albina.masarykova@gmail.com</a>
    <a href="tel:+421908376297" class="foo-links">+421(908)376-297</a>
    <div id="social-media">
        <a href="https://www.facebook.com/activegymlevice">
            <img src="{% static 'img/facebook_1.svg' %}" class='social-media-img' alt="facebook">
        </a>
        <a href="https://wa.me/421908376297">
            <img src="{% static 'img/whatsapp_1.svg' %}" class='social-media-img' alt="whatsapp">
        </a>
        <a href="#">
            <img src="{% static 'img/instagram_1.svg' %}" class='social-media-img' alt="instagram">
        </a>
    </div>
</div>