<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% include 'base_part/css.html' %}
</head>
<body>
    <main>
        {% include 'pages/main-page.html' %}
        {% include 'pages/working-hours.html' %}
        {% include 'pages/about-us.html' %}
        {% include 'pages/services.html' %}
        {% include 'pages/reviews.html' %}
        {% include 'pages/contact-us.html' %}
    </main>
    {% include 'base_part/js.html' %}
</body>
</html>